.btn {
  background-color: blueviolet;
  border: 1px solid transparent;
  border-radius: 6px;
  color: white;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.27);
}

.btn:hover {
  background-color: white;
  color: blueviolet;
  border: 1px solid blueviolet;
}
