* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: aquamarine;
}

h1 {
  background-color: red;
  padding: 10px;
  margin: 10px;
}

p {
  background-color: blue;
  padding: 10px;
  margin: 10px;
}

a {
  background-color: violet;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}
